.banner-container {
  height: 25%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.primary-container{
  padding: 20px;
  width: 90%;
  height: 70%;
  background: linear-gradient(to right, #01584B, #02BEA2);
  border-radius: 5px;
  border-width: 1px;
  color: white;

}