.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Ensure it's above the backdrop */
  min-width: 300px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.resultButton {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.resultButton:hover {
  background-color: #0056b3;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(17, 24, 39, 0.8); 
  z-index: 1000; 
}
.textInput {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 13px;
  resize: none; /* Prevents resizing */
  height: 200px;
}

.textInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  color: black;
}
.dash{
    height: 1px;
    width: 100%;
    border-bottom: black;
    border-width: 1px;
    border-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modalHeader {
  display: flex;
  align-items: center;
  width: 100%;
}
.title {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.875rem; 
  color: black;
}
.closeIcon{
  margin-left: auto;
  color: gray;
  cursor: pointer;
}
.closeIcon:hover {
  color: #ff0000; 
}
.subHeader {
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem; /* text-sm */
  font-weight: 600;
  margin-top: 10px;
  color: black;
}
.buttonContainer {
  width: 40%;
  margin-top: 20px;
  background-color: gray;
  color: white;
  padding: 10px;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
}
.buttonContainer:hover {
  width: 40%;
  margin-top: 20px;
  background-color: black;
  padding: 10px;
  height: fit-content;
  border-radius: 5px;
}
.detailButton {
  margin-left: 20px;
  background: none;
  color: black;
  font-size: 0.875rem; /* text-sm */
  font-weight: 600;
  cursor: pointer;
  border-radius: 5%;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  transition: color 0.2s ease-in-out;
}

.detailButton:hover {
  color: #01584b; /* Darker blue */
}

.expandedModal {
  height: 90%;
  padding: 25px;
  animation: expand 0.3s ease-in-out;
}

@keyframes expand {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}