.rating {
  display: flex;
  gap: 8px; /* Space between stars */
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.starButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.starButton:focus {
  outline: none;
}
