.normal-deep-scan-container{
  width: 45%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
}
.normal-deep-scan-container:hover{
  border-color: gray;
}
.specialized-scan-container{
  width: 95%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
}
.circle-checkbox-container {
  display: flex;
  align-items: center;
}

.circle-checkbox {
  display: none; /* Hide default checkbox */
}

.circle-checkbox-label {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: white;
}

.circle-checkbox-label::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Hidden initially */
  transition: opacity 0.2s ease;
}

.circle-checkbox:checked + .circle-checkbox-label::after {
  opacity: 1; /* Visible when checked */
}
.button-title{
  padding: 10px;
  height: 30%;
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}