.image_container{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
}
.title_container{
    height: 10%;
    width: 100%;
    cursor: pointer;
}

.title{
    font-weight: bold;
    font-size: large;
    margin-left: 8px;

}
.horizontal_line{
    width: 100%;
    height: 0.5px;
    background-color: black;
    margin-top: 2px;
    margin-bottom:2px;
}
.image_preview{
    object-fit: contain;
}
.loadingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #03564a;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 10px;
}

/* Spinner animation */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Light color for background */
  border-top: 8px solid #fff; /* White color for the spinner part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite; /* Spin animation */
}

/* Loading text */
.loadingText {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
}

/* Keyframe for spinner rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
