.Top-container{
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Content-container{
    width: 100%;
    height: 85%;
}
.Half-content-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.Result-container {
    width: 31%;
    height: 95%;
    border-radius: 5px;
    border-width: 1px;
}
.Result-container-2 {
    width: 40%;
    height: 95%;
    border-radius: 5px;
    border-width: 1px;
}


.Result-container:hover {
    border-color: black;
}
.Confident-score-container{
    padding: 10px;
    margin-left: 10px;
    width: 30%;
    height: 60%;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    align-items: center;
}
.hortizontal-space{
    width: 5%;
}
.General-report-container{
    width: 65%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle_2{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  background-color: #01584B;
  color: white;
  display: flex;         
  font-weight: bold;
  justify-content: center; 
  align-items: center;    
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  transition-duration: .3s;
  background-color: #01584B;
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(100%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Detailed Information";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}