.Top-container{
    width: 100%;
    height: 15%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Content-container{
    width: 100%;
    height: 70%;
    background-color: black;
}
.Half-content-container{
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
}
.Result-container{
    width: 31%;
    height: 95%;
    background-color: aqua;
}
.Confident-score-container{
    width: 30%;
    height: 60%;
    background-color: aliceblue;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    align-items: center;
}
.hortizontal-space{
    width: 5%;
}
.General-report-container{
    width: 65%;
    height: 60%;
    background-color: aqua;
}