.aboutUsContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background: linear-gradient(to bottom right, #ebf0cd, #fffed7);
  font-family: 'JetBrains Mono', monospace;
  position: relative;
}

.textContainer {
  padding: 1rem;
  width: 70%;
  height: 100%;
  z-index: 20;
}

.title {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #03564a;
  letter-spacing: 1px;
}


.description {
  font-size: 1.2rem;
  color: #555;
  margin-top: 1rem;
  line-height: 1.6;
}


.missionContainer,
.valuesContainer {
  margin-top: 2rem;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.missionContainer:hover,
.valuesContainer:hover {
  transform: scale(1.02); 
}

.missionTitle,
.valuesTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03564a; 
}

.missionDescription {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
  line-height: 1.5;
}


.valuesList {
  list-style: none;
  padding: 0;
}

.valuesList li {
  font-size: 1rem;
  color: #444;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.valuesList li::before {
  content: '✔';
  color: #ffcc00;
  font-weight: bold;
}

.learnMoreButton {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #ffcc00; 
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition:
    background 0.3s ease,
    transform 0.2s;
}

.learnMoreButton:hover {
  background: #e6b800;
  transform: scale(1.05);
}

.imageContainer {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  z-index: 20;
  overflow: hidden;
}

.triangle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 0.3s ease;
}

.left {
  left: 0;
  background: #03564a;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.right {
  right: 0;
  background: #ffcc00;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.triangle svg {
  transition: transform 0.3s ease;
}

.left:hover svg {
  transform: translate(-200%, 200%);
}

.right:hover svg {
  transform: translate(200%, -200%);
}
.imageContainer:hover {
  transform: scale(1.05);
}
