.tabs_container {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-self: center;
  gap: 10px;
  margin-bottom: 10px;
  height: 7%;
}

.tab {
  padding: 10px 20px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;              /* Ensure border is visible */
  border-color: lightgray;          /* Add border color */
  width: fit-content;
  transition: background-color 0.3s;
  white-space: nowrap;
  flex-shrink: 0;                   /* Prevent shrinking in flex */
  flex-grow: 0;                     /* Prevent growing in flex */
  box-sizing: border-box;          /* Include padding in width */
}


.tab.active {
  background-color: #01584b;
  color: white;
}

.tab:hover:not(.active) {
  background-color: #e0e0e0;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  transform: translateY(-2px);
}

.tab.active:hover {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  transform: translateY(-2px);
}

.tab_content {
  padding: 20px;
  height: 90%;
  border-radius: 5px;
}

.tab_connector {
  align-self: center;
  width: 100%;
  height: 2px;
  background-color: #007b7f;
}

.stripe_1 {
}
