.header_container {
  height: 8.5%;
  width: 100%;
  background: #03564a;
  display: flex;
  font-weight: 700;
  color: white;
  align-items: center;
  padding: 0 1rem;
}

.header_icon {
  display: flex;
  width: 20%;
  height: 100%;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.vertical_line_header {
  align-self: center;
  width: 1px;
  height: 70%;
  margin: 0 1rem;
  background-color: white;
}

.header_icon img {
  object-fit: cover;
}

.header_shortcuts {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-around;
}

.header_shortcuts button {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header_go {
  width: 20%;
  height: 100%;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.header_dashboard_button {
  width: 80%;
  height: 60%;
  border-color: white;
  border-width: 1px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.header_dashboard_button:hover {
  background-color: #02bea2;
  cursor: pointer;
}

.header_go:hover {
  cursor: default;
}

.header_button {
  transition: transform 0.2s ease-in-out;
  border: 0;
}

.header_button:hover {
  background-color: transparent;
  transform: scale(1.2);
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .header_container {
    height: 10%;
  }
  .header_shortcuts {
    width: 40%;
  }
  .header_go {
    width: 25%;
  }
}

@media (max-width: 992px) {
  .header_container {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .header_icon {
    width: 100%;
    justify-content: center;
  }
  .vertical_line_header {
    display: none;
  }
  .header_shortcuts {
    width: 100%;
    justify-content: space-around;
  }
  .header_go {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header_container {
    height: auto;
    padding: 1rem 0;
  }
  .header_shortcuts button {
    padding: 0.5rem 1rem;
  }
  .header_dashboard_button {
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 576px) {
  .header_container {
    height: auto;
    padding: 1rem 0;
  }
  .header_shortcuts {
    flex-direction: column;
    width: 100%;
  }
  .header_shortcuts button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .header_go {
    width: 100%;
    justify-content: center;
  }
  .header_dashboard_button {
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
  }
}
